*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fls
*.fdb*
*.pdf
*.synctex.gz
Homework/1/Jupyter/.ipynb_checkpoints/1-checkpoint.ipynb
